<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Assets/Css/style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Elechia</h1>
        <a href="#"><img src="Assets/Images/logo-image.jpg" alt="Store logo"></a>
        <div class="searchBar">
            <form>
                <input type="search" placeholder="search for products">
                <i class="fa-solid fa-magnifying-glass"></i>
            </form>
        </div>
        <div class="store-icons">
            <i class="fa-solid fa-user"></i>
            <i class="fa-regular fa-heart"></i>
            <i class="fa-solid fa-cart-shopping"></i>
        </div>
     </header>
</body>
</html>